.input-content{
  display: flex;
  flex-direction: column;

  label{
    margin: .6rem 0;
  }

  input{
    padding: .85rem;
    border-radius: .3rem;
    width: 100%;
  }

  .p-error{
    margin-top: .3rem;
  }
}
