<div class="dashboard">
  <p-card header="Dashboard" subheader="Latest Updates">
    <div class="dashboard-cards">
      <div class="card-item">
        <div class="item-body">
          <div class="item-body-header">
            <i class="pi pi-sitemap"></i>
            <h3>Payments Today</h3>
          </div>
          <div class="item-content">
            <h2>0.00</h2>
          </div>
          <hr>
          <a class="item-footer">View Payments<i class="pi pi-arrow-right"></i></a>
        </div>
      </div>
      <div class="card-item">
        <div class="item-body">
          <div class="item-body-header">
            <i class="pi pi-users"></i>
            <h3>Borrowers</h3>
          </div>
          <div class="item-content">
            <h2>100</h2>
          </div>
          <hr>
          <a class="item-footer">View Borrowers <i class="pi pi-arrow-right"></i></a>
        </div>
      </div>
      <div class="card-item">
        <div class="item-body">
          <div class="item-body-header">
            <i class="pi pi-upload"></i>
            <h3>Active Loans</h3>
          </div>
          <div class="item-content">
            <h2>20</h2>
          </div>
          <hr>
          <a class="item-footer">View Loans <i class="pi pi-arrow-right"></i></a>
        </div>
      </div>
      <div class="card-item">
        <div class="item-body">
          <div class="item-body-header">
            <i class="pi pi-money-bill"></i>
            <h3>Totals</h3>
          </div>
          <div class="item-content">
            <h2>{{1500000 | currency: ' '}}</h2>
          </div>
          <hr>
          <a class="item-footer">View Totals <i class="pi pi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </p-card>
</div>
